.snake {
   background-color: rgba(12, 73, 12, 0.89); 
}

.mouse {
    background-color: rgba(41, 23, 3, 0.87);
}

div {
    float: left;
    width: 12px;
    height: 12px;
}

.container {
    border-style: solid;
    border-color: black;
    width: 480px;
    height: 480px;
}