.snake {
   background-color: rgba(12, 73, 12, 0.89);
   /* border: 2px solid rgb(235, 140, 31); */
}

.target {
    background-color: rgb(238, 142, 17);
    border-radius: 7px;
    width: 13;
    height: 13;
}

div {
    float: left;
    width: 15px;
    height: 15px;
}

p {
    float: left;
    width: 300px;
}

.container {
    border-style: solid;
    border-color: black;
    width: 600px;
    height: 600px;
}